name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'
    - name: Install Yarn
      run: npm install -g yarn
    - name: Set Yarn version
      run: yarn set version 4
    - name: Install dependencies
      run: yarn install
    - name: Run linting
      run: yarn run lint
    - name: Run unit tests
      run: yarn run test
    - name: Run e2e tests
      run: yarn run test:e2e
    - name: Run smoke tests
      run: yarn run test:smoke